@import 'tailwindcss';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.success-snackbar {
  --mdc-snackbar-container-color: #2e7d32;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #a5d6a7;
}

.error-snackbar {
  --mdc-snackbar-container-color: #c62828;
  --mdc-snackbar-supporting-text-color: #fff;
  --mat-snack-bar-button-color: #ef9a9a;
}

